<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesTempo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header__containerLegenda">
            <h1 class="header__containerLegenda__legandaPrincipal">Mimoso do Sul</h1>
            <div class="header__containerLegenda__legendaTemperatura">
                <em class="header__containerLegenda__legandaTemperatura__temperatura">31</em>
                <em class="header__containerLegenda__legendaTemperatura__SenseTerm">32/18<br>Ensolarado</em>
            </div>
        </div>
        <div class="header__containerImg">
            <img src="../weatherApiImgs/CeuLimpo.png" alt="" class="header__containerImg__imgTempo">
        </div>    
    </header>
    <main>
        <div class="main__infoGarais">
            <div class="main__infoGerais__infoProxHora">
                <div class="main__infoGerais__infoProxHora__previsaoProxHora"></div>
                <div class="main__infoGerais__infoProxHora__informacoes"></div>
            </div>
            <div class="main__infoGerais__infoProxDias">
                <div class="main__infoGerais__infoProxDias__infoDiaria">
                    <p class="main__infoGerais__infoProxDias__infoDia">Hoje</p>
                    <p class="main__infoGerais__infoProxDias__probabilidade">2</p>
                    <img src="imgs/nascer-do-sol (1).png" alt="" class="main__infoGerais__infoProxDias__imgTempo">
                    <em class="main__infoGerais__infoProxDias__mimMaxTemp">31/20</em>
                </div>
            </div>
        </div>

        <div class="main__umidadeVento">
            <div class="main__umidadeVento__indiceUV">
                <div class="main__umidadeVento__indiceUV__container">
                    <img src="./imgs/sol.png" alt="" class="main__umidadeVento__indiceUV__img"><br>
                    <p class="main__umidadeVento__indiceUV__descricao">Índice UV</p>
                </div>
            </div>
            <div class="main__umidadeVento__umidade">
                <div class="main__umidadeVento__indiceUV__container">
                    <img src="./imgs/umidade.png" alt="" class="main__umidadeVento__indiceUV__img"><br>
                    <p class="main__umidadeVento__indiceUV__descricao">Umidade</p>
                </div>
            </div>
            <div class="main__umidadeVento__vento">
                <div class="main__umidadeVento__indiceUV__container">
                    <img src="./imgs/vento (2).png" alt="" class="main__umidadeVento__indiceUV__img"><br>
                    <p class="main__umidadeVento__indiceUV__descricao">Vento</p>
                </div>
            </div>
            <div class="main__umidadeVento__nascerPorSol">
                <div class="main__umidadeVento__sol">
                    <img src="./imgs/nascer-do-sol (1).png" alt="" class="main__umidadeVento__indiceUV__img"><br>
                    <p class="main__umidadeVento__indiceUV__descricao">Nascer do sol</p>
                </div>
                <div class="main__umidadeVento__sol">
                    <img src="./imgs/mar.png " alt="" class="main__umidadeVento__indiceUV__img"><br>
                    <p class="main__umidadeVento__indiceUV__descricao">Pôr-do-sol</p>
                </div>
            </div>
        </div>
    </main>
    <footer>p0</footer>
</body>
</html>